.App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: black;
    overflow: hidden;
}

h1 {
    color: orangered;
    background-color: rgba(116, 8, 8, 0.3);
    font-size: 2.8em;
    position: absolute;
    top: 10;
    bottom: 0;
    line-height: 0.2;
    font-family: sans-serif;
}

sup {
    font-size: 0.3em;
    color: lightgreen;
}

button {
    background-color: transparent;
    border: 0;
    color: #222;
    font-size: 0.7em;
    font-weight: 0;
}

button:hover {
    color: greenyellow;
    cursor: pointer;
}

button:active {
    color: orange;
    cursor: pointer;
}
